/FISOBCOS_NetSdk/FISCOBCOS_NetSdkTest/obj
/FISOBCOS_NetSdk/FISCOBCOS_NetSdkTest/bin
/FISOBCOS_NetSdk/FISOBCOS_NetSdk/bin
/FISOBCOS_NetSdk/FISOBCOS_NetSdk/obj
/Src/FISCOBCOS_NetSdkTest/obj
/Src/FISCOBCOS_NetSdkTest/bin
/Src/FISOBCOS_NetSdk/bin
/Src/FISOBCOS_NetSdk/obj
/.vs
/Doc
/README.md.bak
/新建 DOC 文档.doc
/Src/FISOBCOS_NetSdk/Config/BaseConfig.cs.bak
